<div id="project"> <h1 id="ProjectHeader">Project Organizer</h1>
<h2 id="ProjectName">My Projects</h2>
</div>
<hr>

<% if (projects.length < 1) { %>
  <h4>Better get coding, I've no projects!</h4>
<% } %>

<% projects.forEach(function(project) { %>
  <div class="well">
    <h2 id="text">
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
    </h2>
  
    <form method="POST" action="/projects/<%=project.id%>/?_method=DELETE">
      <input id="delete" type="submit" value="Delete">
    </form>

  </div>


<% }); %>
