<h1>Project Organizer</h1>

<h2>My Projects</h2>
<hr>

<section class = "index">
  <% if (projects.length < 1) { %>
    <h4 class = "index__emptyHeader">Better get coding, I've no projects!</h4>
  <% } %>

  <% projects.forEach(function(project) { %>
    <div class="well index__projectContainer">
      <h2>
        <a class="index__projectName" href="/projects/<%= project.id %>"><%= project.name %></a>
      </h2>
    </div>
  <% }); %>
</section>
