<h1>Project Categories</h1>
    <% categories.forEach(category => { %>
        <div class="row">
            <div class="card">
                <a href="/categories/<%= category.id %>"><%= category.name %></a>
            </div>
        </div>
     <% }) %>

<hr />
<a href="/">&larr; Back Home</a>