<h1>List of categories</h1>

<% categories.forEach(cat=>{ %>
    <div class="well">
        <h2>
          <a href="/categories<%= cat.id %>"><%= cat.name %></a>
          <form method="POST" action="/categories/<%=cat.id%>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
        </h2>
      </div>
<% }) %>