<h1 id="CatHeader">List of Categories</h1>

<% categories.forEach(function(c) { %>
    <div class="well" >
      <h3>
        <a href="/categories/<%=c.id%>"><%= c.name %></a>
      </h3>
    </div>
  <% }) %>


