<h1>Categories</h1>
<h5>Click on a category to see all projects associated with that category</h5>

<ul>
<!--For each loop to get category names-->
<% let categoryNames = []%>
<% categories.forEach(category =>{%>
    <%categoryNames.push(category.name) %>
    <%categoryNames.sort()%>
    <!--<li><a href="/categories/<%=category.id%>"><%= category.name%></li>-->
<%})%>


<% categoryNames.forEach(categoryName => {%>
    <li><a href="/categories/<%=categoryName%>"><%=categoryName%></li>
<%})%>


</ul>

<a class="navArrow" href="/">&larr; Back Home</a>