

<h2 id="CatHeader"> This Category is Called: <%= foundCategory.name %> </h1>

<div id="projectP">
<p>Project Name: <%= project.name%></p>
<p>Project Description: <%= project.description%></p>

</div>