<h1>Create a new project</h1>

<form action="/projects" method="POST">
  <fieldset>
    <legend>New Project</legend>
    <div class="input-group vertical">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div class="input-group vertical">
        <label for="githubLink">Github Link</label>
        <input type="text" id="githubLink" name="githubLink" required>
    </div>

    <div class="input-group vertical">
      <label for="deployedLink">Deployed Link</label>
      <input type="text" id="deployedLink" name="deployedLink" required>
    </div>

    <div class="input-group vertical">
      <label for="description">Description</label>
      <textarea type="text" id="description" name="description" required></textarea>
    </div>

    <div class="input-group vertical">
      <label for="category">Category</label>
      <input type="category" id="category" name="category" required>
    </div>
    
    <input type="submit" class="button primary">
  </fieldset>
</form>
